<%- include ('partials/head') %>
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <h3>Edit/Delete</h3>
                <div class="col-10 offset-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0;i<data.length; i++){%>
                                <tr>
                                    <td>
                                        <%= data[i].first_name%>
                                    </td>
                                    <td>
                                        <%= data[i].last_name%>
                                    </td>
                                    <td>
                                        <%= data[i].email%>
                                    </td>
                                    <td>
                                        <%= data[i].tel %>
                                    </td>
                                    <td><a href="/delete_acc/<%=data[i]._id%>" class="btn btn-sm btn-danger">Delete</a></td>
                                    <td><a href="/edit_acc/<%=data[i]._id %>" class="btn btn-sm btn-warning">Edit</a></td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/footer') %>