<%- include ('partials/head') %>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h3>Edit Account</h3>
            <div class="col-10 offset-1">
                <form action="/edit_db" method="POST">
                    <input type="hidden" name="id" value="<%=data._id%>">
                    <input type="text" name="first_name" class="form-control" value="<%= data.first_name%>" ><br>
                    <input type="text" name="last_name" class="form-control" value="<%= data.last_name%>"  ><br>
                    <input type="text" name="email" class="form-control" value="<%= data.email%>" ><br>
                    <input type="text" name="tel" class="form-control" value="<%= data.tel%>" ><br>
                    <button class="btn btn-primary form-warning">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/footer') %>